# cargo-release configuration
# See: https://github.com/crate-ci/cargo-release/blob/master/docs/reference.md

# Don't publish to crates.io during release command (GitHub Actions will do it)
publish = false

# Create a git tag with the version
tag = true
tag-name = "v{{version}}"

# Push to git remote
push = true
push-remote = "origin"

# Allow dirty working directory (in case of CI artifacts)
allow-branch = ["master", "main"]

# Pre-release hook to ensure everything is ready
pre-release-hook = ["cargo", "test", "--all-features"]

# Commit message template
pre-release-commit-message = "chore: release {{crate_name}} v{{version}}"

# Sign tags and commits
sign-commit = false
sign-tag = false

# Pre-release replacements in other files
[[pre-release-replacements]]
file = "CHANGELOG.md"
search = "## \\[Unreleased\\]"
replace = "## [Unreleased]\n\n## [{{version}}] - {{date}}"
exactly = 1
