# cargo-release configuration
# See: https://github.com/crate-ci/cargo-release/blob/master/docs/reference.md

# Don't publish to crates.io during release command (GitHub Actions will do it)
publish = false

# Create a git tag with the version
tag = true
tag-name = "v{{version}}"

# Don't push automatically - we'll create a release branch for PR
push = false

# Allow any branch for releases (we'll create feature branches)
allow-branch = ["*"]

# Pre-release hook to ensure everything is ready
# pre-release-hook = ["cargo", "test", "--all-features", "--", "--test-threads=1"]

# Commit message template
pre-release-commit-message = "chore: release {{crate_name}} v{{version}}"

# Sign tags and commits
sign-commit = false
sign-tag = false
